[Desktop Entry]
Encoding=UTF-8
Name=Link to React Native Comments - 2 Ways to Add Comments in JSX ... aboutreact.com › react-native-comments
Type=Link
URL=https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjSrPaS3JfqAhWlw6YKHWstDqoQFjACegQIDBAF&url=https%3A%2F%2Faboutreact.com%2Freact-native-comments%2F&usg=AOvVaw0lvSbhUZ328R5RtIRqTJ4_
Icon=text-html
