.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html, body {
  background: url('nomad-text.png') no-repeat center center;
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1920px;

  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #7F94EC;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}
