.pyenv/
.vscode/
.volumes/
.git/
.mypy_cache/
data/
docs/.build
docs/*.graffle
gui/
infrastructure/
__pycache__/
*.pyc
NOMAD.egg-info/
.coverage
examples/
local/
target/
dependencies/parsers/cpmd/test/
dependencies/parsers/cpmd/regtests/
dependencies/parsers/siesta/test/
dependencies/parsers/siesta/src/test/
dependencies/parsers/gamess/test/
dependencies/parsers/gaussian/test/
dependencies/parsers/gaussian/test/examples/testsg09d01/
dependencies/parsers/phonopy-library/test/
dependencies/parsers/gulp/test/
dependencies/parsers/phonopy/test/
dependencies/parsers/elastic/test/
dependencies/parsers/nwchem/test/
dependencies/parsers/nwchem/regtests/
dependencies/parsers/lib-atoms/test/
dependencies/parsers/lib-atoms/test/lib-atoms-gap-test/
dependencies/parsers/atk/test/
dependencies/parsers/band/test/
dependencies/parsers/cp2k/test/
dependencies/parsers/cp2k/regtests/
dependencies/parsers/quantum-espresso/test/
dependencies/parsers/quantum-espresso/test/xc_functionals/refactor_test/
dependencies/parsers/abinit/test/
dependencies/parsers/wien2k/test/
dependencies/parsers/crystal/test/
dependencies/parsers/crystal/regtests/
dependencies/parsers/vasp/test/
dependencies/parsers/exciting/test/
dependencies/parsers/elk/test/
dependencies/parsers/gpaw/test/
dependencies/parsers/gpaw/src/test/
dependencies/parsers/dl-poly/test/
dependencies/parsers/dl-poly/test/examples/dl-poly-test1/
dependencies/parsers/bigdft/test/
dependencies/parsers/bigdft/regtests/
dependencies/parsers/bigdft/regtests/bigdft_1.8/yaml_test/
dependencies/parsers/fhi-aims/test/
dependencies/parsers/fhi-aims/regtests/
dependencies/parsers/octopus/test/
dependencies/parsers/castep/test/
dependencies/parsers/castep/test/examples/test2/
dependencies/parsers/turbomole/test/
dependencies/parsers/orca/test/
dependencies/python_common/common/python/nomadcore/md_data_access/test/
