**/*.git
**/.cache
**/.mypy_cache
**/__pycache__
**/*.pyc
**/*.egg-info
.*env/
.pyenv*/
.pytest_cache
.vscode/
.volumes/
.git/
.coverage
**/.ipynb_checkpoints

nomad_lab.egg-info/

data/
local/
target/
build/
dist/

dependencies/**/test
dependencies/**/tests
dependencies/**/regtests
dependencies/parsers/phonopy-library/example*

site
docs/*.graffle

nomad/normalizing/data/*.db
nomad/normalizing/data/*.msg
nomad/app/static
nomad.yaml

gui/node_modules/
gui/build/
gui/public/metainfo/
gui/npm-debug.log*
gui/yarn-debug.log*
gui/yarn-error.log*