.DS_Store
.*env/
.pyenv*/
.pytest/
.python-version
.ipynb_checkpoints/
.python-version
.coverage_html/
__pycache__
.mypy_cache
*.pyc
*.egg-info/
/data/
.volumes/
.pytest_cache/
.coverage*
htmlcov
try.http
project/
test_*/
local/
target/
*.swp
.idea/
.vscode/launch.json
.vscode/settings.local.json
.vscode/extensions.json
nomad.yaml
gunicorn.log.conf
gunicorn.conf
build/
dist/
setup.json
parser.osio.log
gui/src/metainfo.json
gui/src/searchQuantities.json
gui/src/toolkitMetadata.json
gui/src/unitsData.js
gui/src/parserMetadata.js
gui/src/northTools.json
gui/.editorconfig
gui/.pnp.cjs
gui/.yarn/
gui/.yarnrc.yml
examples/workdir/
gunicorn.log.conf
nomad/gitinfo.py
**/node_modules/
jupyterhub_cookie_secret
jupyterhub.sqlite
jupyterhub-proxy.pid
gui/src/parserMetadata.json
site/
docs/*.graffle
