requests
celery[redis]
elasticsearch-dsl>=6.0.0,<7.0.0
mongoengine
flask
flask-restplus
flask-cors
flask_httpauth
itsdangerous
passlib
python-logstash
gitpython
gunicorn
structlog
recommonmark
m2r
requests
click
sphinx
sphinxcontrib.httpdomain
sphinx_rtd_theme
zipstream
bagit
psycopg2-binary
sqlalchemy
bcrypt
matid
ase==3.15.0
filelock
ujson
