# install
pip
wheel
pyyaml
numpy
fastentrypoints
cython>=0.19
future

# nomad
nptyping
cachetools
docstring-parser
Pint
orjson
click
requests
bravado
pytz
aniso8601<=7
ase==3.19.0
python-keycloak
elasticsearch-dsl==6.4.0
pydantic
jmespath

# [parsing]
netCDF4==1.5.4
pandas
h5py
hjson
scipy
scikit-learn
matid==0.6.1
python-magic
panedr==0.2
parmed==3.0.0
mdtraj
mdanalysis
nomad_dos_fingerprints
lxml
xarray
phonopy

# [infrastructure]
optimade==0.14.0
structlog==20.1.0
elasticsearch==6.4.0
msgpack<0.6.0
celery[redis]==4.4.7
mongoengine==0.19.1
pymongo==3.10.1
Werkzeug==0.16.1
flask
flask-restplus
flask-cors
flask_httpauth
itsdangerous
passlib
python-logstash
gitpython
gunicorn[eventlet]
m2r
zipstream-new==1.1.5
bagit
bcrypt
filelock
cryptography==3.3.2
pyjwt[crypto]==1.7.1
cryptography==3.3.2
jsonschema[format]
runstats
pyyaml
tabulate
bs4
html5lib
zipfile37
basicauth
inflection
unidecode
python-json-logger
recommonmark
jinja2
rdflib
fastapi
uvicorn[standard]
a2wsgi==1.4.0
python-multipart

# [dev]
setuptools
sphinx==2.4.4
sphinxcontrib.httpdomain
sphinx-click
sphinx_rtd_theme
gitpython
mypy==0.730
pylint==2.3.1
pylint_plugin_utils==0.5
pylint_mongoengine==0.3.3
pycodestyle
pytest==3.10.0  # celery fixtures not compatible with 4.x
pytest-timeout
pytest-cov==2.7.1
rope
mongomock==3.17.0
names
essential_generators
twine
python-gitlab
devtools
