minio
requests
celery[redis]
elasticsearch-dsl>=6.0.0,<7.0.0
mongoengine
flask
flask-restful
flask-cors
flask_httpauth
itsdangerous
passlib
python-logstash
gitpython
ase
numpy
cython>=0.19
spglib
gunicorn
structlog
sphinx
recommonmark
sphinxcontrib.httpdomain
requests