# install
pip
wheel
pyyaml==6.0
numpy==1.21.2
fastentrypoints==0.12
cython>=0.19
future==0.18.2

# nomad
nptyping==1.4.4
cachetools==4.2.4
docstring-parser==0.12
Pint==0.17
orjson==3.6.0
click==7.1.2
requests==2.26.0
jsonschema[format]==3.2.0
bravado==11.0.3
pytz==2021.1
aniso8601==7.0.0
ase==3.19.0
python-keycloak==0.26.1
elasticsearch-dsl==6.4.0
pydantic==1.8.2
jmespath==0.10.0


# [parsing]
netCDF4==1.5.4
pandas==1.3.2
h5py==3.4.0
hjson==3.0.2
scipy==1.7.1
scikit-learn==0.24.2
matid==0.6.1
python-magic==0.4.24
panedr==0.2
parmed==3.0.0
mdtraj==1.9.6
mdanalysis
nomad_dos_fingerprints
lxml==4.6.3
xarray==0.19.0
phonopy==2.11.0

# [infrastructure]
optimade==0.14.0
structlog==20.1.0
elasticsearch==6.4.0
msgpack==0.5.6
celery[redis]==4.4.7
mongoengine==0.19.1
pymongo==3.10.1
Werkzeug==0.16.1
flask==1.1.4
flask-restplus==0.13.0
flask-cors==3.0.10
flask_httpauth==4.5.0
itsdangerous==1.1.0
passlib==1.7.4
python-logstash==0.4.6
gitpython==3.1.24
gunicorn[eventlet]==20.1.0
m2r==0.2.1
zipstream-new==1.1.5
bagit==1.8.1
bcrypt==3.2.0
filelock==3.3.1
cryptography==3.3.2
pyjwt[crypto]==1.7.1
cryptography==3.3.2
runstats==2.0.0
pyyaml==6.0
tabulate==0.8.9
bs4==0.0.1
html5lib==1.1
zipfile37==0.1.3
basicauth==0.4.1
inflection==0.5.1
unidecode==1.3.2
python-json-logger==2.0.2
recommonmark==0.7.1
jinja2==2.11.3
rdflib==5.0.0
fastapi==0.63.0
uvicorn[standard]==0.13.4
a2wsgi==1.4.0
python-multipart==0.0.5

# [dev]
setuptools==57.5.0
sphinx==2.4.4
sphinxcontrib.httpdomain==1.8.0
sphinx-click==3.0.1
sphinx_rtd_theme==1.0.0
mistune==0.8.4
gitpython==3.1.24
mypy==0.730
typed-ast==1.4.2
astroid==2.5.1
pylint==2.3.1
pylint_plugin_utils==0.5
pylint_mongoengine==0.3.3
pycodestyle==2.8.0
pytest==3.10.0
pytest-timeout==1.4.2
pytest-cov==2.7.1
rope==0.21.0
mongomock==3.17.0
names==0.3.0
essential_generators==1.0
twine==3.4.2
python-gitlab==2.10.1
devtools==0.8.0
