.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  overflow: hidden;

  background-image: url("nomad-cube.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 64px 64px;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #673ab7;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}
